extends layout 
block content       
    .wrapper
      h3 Data Kesehatan
      .table-responsive-sm
        table.content-table
          thead
            tr
              th No.
              th Nama
              th Kelas
              th Suhu
              th Kondisi Murid
              th Kondisi Orang Tua
              th Waktu
          tbody
            - var i = 1
            each health in healths
              tr
                td= i++
                td= health.studentId.name
                td= health.studentId.class_id
                td= health.temperature ? health.temperature : '-'
                td= health.student_condition ? 'Sehat' : 'Tidak Sehat'
                td= health.family_condition ? 'Sehat' : 'Tidak Sehat'
                td= new Date(health.createdAt).toLocaleDateString('id-ID', { weekday: 'long', year: 'numeric', month: 'short', day: 'numeric', hour: 'numeric', minute: 'numeric', timeZoneName: 'short' })
